.Display-screen {
  background-color: black;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.result {
  flex: 1;
  font-size: 28px;
  padding: 19px 10px 10px 10px;
  word-break: break-all;
  text-align: center;
}
.values-to-equate {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  word-break: break-all;
}
