body {
  background-color: rgb(77, 74, 74);
  font-size: 25px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-body {
  width: 100%;
  background-color: rgb(77, 74, 74);
  height: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-main {
  background-color: black;
  width: 400px;
  border-radius: 16px;
  color: white;
}
.row-columns {
  display: flex;
}
